<ion-view title="My Profile" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="myProfile-heading4" style="color:#000000;">My Profile</h1>
    <div id="myProfile-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Edit my
        <strong>profile</strong>
      </p>
    </div>
    <ion-list id="myProfile-list3">
      <ion-item class="item-avatar" id="myProfile-list-item14">
        <h2>User's Name</h2>
      </ion-item>
    </ion-list>
    <div id="myProfile-container3">
      <form id="myProfile-form5" class="list">
        <label class="item item-input item-stacked-label" id="myProfile-input5" name="email">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="email@domain.com">
        </label>
        <label class="item item-input item-stacked-label" id="myProfile-input6" name="phone">
          <span class="input-label">Phone</span>
          <input type="tel" placeholder="">
        </label>
      </form>
    </div>
    <button id="myProfile-button3" class="button button-positive button-block">Save</button>
  </ion-content>
</ion-view>